@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}


nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: rgb(255, 255, 255);
    font-family: "Bebas Neue", sans-serif;
}


input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    font-family: "Bebas Neue", sans-serif;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    font-family: "Bebas Neue", sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: "Bebas Neue", sans-serif;
}


body {
    background-image: url("./imgs/Frame 182.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 0 68px;
    position: relative;

}

@media (max-width: 375px) {
    body {
        background-image: url("./imgs/mob-wall.webp");
        height: 100%;
        padding: 20px 31px;
        background-size: contain;
    }

    header .logo {
        width: 154px;
        height: 47.22px;
        display: flex;
        justify-content: start;
    }

    header .logo img {
        width: 73%;
    }

    header {
        flex-wrap: wrap-reverse;
        padding-top: 0;
    }
    header .store-container {
        padding-top: 3vh;
    }
    main {
        width: 100%;
    }

    main section {
        width: 100%;
    }

    section .deposit-title {
        font-size: 43px;
    }

    section .deposit-title span {
        font-size: 56px;
    }

    section .deposit-btn {
        font-size: 42px;
        width: 100%;
    }

    body footer {
        padding-bottom: 62px;
        width: 100%;
    }

    body .guy-and-money {
        left: 50px;
        width: 109%;
    }

    body footer {
        background: rgb(0, 0, 0);
        border-radius: 12px;
        padding: 17px;
    }

    footer .payment-top {
        font-size: 18px;
    }

    header .support {
        font-size: 20px;
    }

    header .store-container {
        width: 316px;
        height: 44px;
        column-gap: 11.34px;
    }
    footer .payment-bottom {
        column-gap: 10px;
    }
    header .support {
    text-align: center;
    }
}

.guy-and-money {
    position: absolute;
    bottom: 0;
    left: 780px;
}

header {
    display: flex;
    width: 100%;
    padding-top: 22px;
    align-items: center;
}

.store-container {
    width: 457px;
    height: 62px;
    text-align: center;
    display: flex;
    justify-content: space-between;

}

.store-container img {
    width: 100%;
}

.logo {
    width: 262px;
    height: 80px;
    flex: 2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.support {
    font-size: 52px;
    font-weight: 400;
    text-align: end;
    flex: 1;
}

section {
    width: 50vw;
}

.deposit-title {
    font-size: 100px;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    letter-spacing: 0.04em;
    font-weight: 400;
    margin: 0;
    padding-bottom: 19px;
    line-height: 140%;
    text-transform: uppercase;
}

.deposit-title span {
    font-size: 130px;
    color: #ff6547;
}

.deposit-btn {
    padding: 16px 52px;
    height: 100%;
    background: #f42a41;
    font-weight: 400;
    font-size: 65px;
}

footer {
    padding-bottom: 62px;
    width: 607px;
    z-index: 100;
}

.payment-top {
    font-weight: 400;
    font-size: 34px;
    padding-bottom: 13px;
}

.payment-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.payment-bottom div img {
    width: 100%;
    object-fit: contain;
}

.group3-container {
    display: flex;
    justify-content: end;
}

.payment-bottom hr {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    width: 1px;
}